<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	{% load compress %}
	{% compress css %}
		<link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
	{% endcompress %}

    <title>Josie Bytes</title>
  </head>
  <body>

	<nav class="navbar navbar-expand-lg navbar-dark background-primary" >
	<div class="container">
		<a class="navbar-brand text-custom-brand" href="{% url 'home' %}">Josie Bytes</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="{% url 'blog:all_blogs' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.linkedin.com/in/jocenpagayona/">LinkedIn</a>
			</li>
		</ul>
		</div>
	</div>
	</nav>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
	-->

	<footer class="footer pt-3 footer-custom background-primary">
		<div class="container">
		<!-- Copyright footnote -->
			<div class="row">
				<h6 class="col footer-text-custom">Josie Bytes © 2020</h6>
				<span class="col text-end">
					<address>Contact me <a class="address-link" href="mailto:joma.pagayona@gmail.com">here!</a></address>
				</span>
			</div>
		<!-- Contact link -->
		
		</div>
	</footer>
	</body>
</html>