{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}

<div class="row justify-content-center my-3">
	<div class="text-center col-lg-4">
	  <img src="{% static 'portfolio/jocen-glasses.jpg' %}" class="img-fluid">
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="text-center">
		<h2 id="hometext" class="font-weight-bold">Mark Jocen Pagayona is an aspiring developer, navigating the vast tech out here and there!</h2>
	</div>
</div>

<div class="container my-3">
	<h2 class="mt-5">Portfolio</h2>
	<hr>
	<div class="row">
		{% for project in projects %}
		<div class="col-lg-4 col-md-6">
			<div class="card">

				{% if project.url %}
				<a href="{{ project.url }}">
					<img src="{{ project.image.url}}" class="card-img">
				</a>
				{% else %}

				<img src="{{ project.image.url}}" class="card-img">
				{% endif %}
				<h3 class="card-title">{{ project.title }}</h3>
				<div class="card-body">{{ project.blurb_rendered | safe }}</div>

			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}